<html>
  <head>
    <title>Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script type="text/template" id="post-template">
      <div class="post card-panel hoverable">
        <h3 class="teal-text title"><%- title %></h3>
        <input class="edit teal-text" style="font-size: 2.92rem;" value="<%- title %>">
        <span class="grey-text"><i>Published on <%- new Date(created).toLocaleDateString("en-us") %></i></span>
        <div class="content"><p class="flow-text" style="font-size: 1.5em"><%- body %></p></div>
        <textarea class="editcontent" name="" id="" cols="30" rows="100" value="<%- body %>"></textarea>
        <div class="btn btn-small destroy red">Delete</div>
      </div>

    </script>

    <script type="text/template" id="list-template">
      <div class="post-list">

      </div>
    </script>

      <style>
          .posts-wrap .edit {
              display: none;
          }

          .editing .edit {
              display: block;
          }
          .posts-wrap .editcontent {
              display: none;
          }

          .editingc .editcontent {
              display: block;
          }

          textarea {
              font-size: 1.5em;
          }

          .destroy {
              opacity: 0;
          }

          .destroy:hover {
              opacity: 1;
          }

      </style>
  </head>
  <body class="indigo lighten-5">

    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper">
                <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                    <li><a href="{% url 'all' %}">View All</a></li>
                    <li><a href="{% url 'logout' %}?next={% url 'all' %}">Logout</a></li>
                </ul>
                <ul id="slide-out" class="side-nav">
                    <li><a href="{% url 'all' %}">View All</a></li>
                    <li><a href="{% url 'logout' %}?next={% url 'all' %}">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>

    <div class="row">
      <header class="grey darken-3 col s12">

        <h1 class="white-text center" style="padding: 50px 0">Your Stories</h1>
      </header>
    </div>

    <div class="fixed-action-btn" style="bottom: 45px; right: 24px;">
        <a class="btn-floating btn-large red" href="{% url 'new' %}">
          <i class="large material-icons">add</i>
        </a>
    </div>

    <section class="blogapp">
      <div class="posts-wrap container">
        <div class="center">
        <div class="preloader-wrapper active">
          <div class="spinner-layer spinner-red-only">
            <div class="circle-clipper left">
              <div class="circle"></div>
            </div><div class="gap-patch">
              <div class="circle"></div>
            </div><div class="circle-clipper right">
              <div class="circle"></div>
            </div>
          </div>
        </div>
        </div>
      </div>
    </section>

    <footer>

    </footer>


    <script src="/static/js/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <script src="/static/js/jquery.cookie.js"></script>
    <script src="/static/js/underscore.js"></script>
    <script src="/static/js/backbone.js"></script>
    <script src="/static/js/models/post.js"></script>
    <script src="/static/js/collections/posts.js"></script>
    <script src="/static/js/views/post-view.js"></script>
    <script src="/static/js/views/app-view.js"></script>
    <script src="/static/js/app.js"></script>

    <script>
        Materialize.toast($('<span>Double-click to edit a field<br>Hover down a post to delete</span>'), 5000);
    </script>

  </body>
</html>
